@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <title>
        admin panel
    </title>
   

</head>

<body style=" background-color:peachpuff">
    <div>
        <img src="~/content/themes/base/images/tab-left.gif" alt=" " width=" 1380" height="150" />
        </div>
    <center><font color="Blue">  <h1>Search </h1></font> </center>

    <div class="inputs">
        <center> Name <input type="name" placeholder="Name" /></center>
        <br />

        <center> ID <input type="id" placeholder="Id" /></center>
        <br />
        


        <center> <input type="submit" value="Save" /></center> 

        
    </div>

</body>
