@{
    ViewBag.Title = "living_room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    
    <div class="page">
        <div class="project-page">

            <div class="body">
                <div class="content-project">
                    <div>
                        <h3>Projects Detail Page</h3>
                        <div class="navigation">
                            <a href="#" id="next">Next Project</a>
                        </div>
                    </div>
                    <div class="navigation">
                        <span>View:</span>
                        <ul>
                            <li>
                                <a href="/Project/projects">All</a>
                            </li>
                            <li class="selected">
                                <a href="/Project/living_room">Living Room</a>
                            </li>
                            <li>
                                <a href="/Project/dining_room">Dining Room</a>
                            </li>
                            <li>
                                <a href="/Project/toned_bedroom">Bedroom</a>
                            </li>
                            <li>
                                <a href="/Project/bathroom">Bathroom</a>
                            </li>

                        </ul>
                    </div>
                    
                            <div class="figure">
                                <img src="~/content/themes/base/images/mine.jpg" alt="" width="800" height="400"> <span>Project Completed May 2011</span>
                                <div>
                                    <h3>Green Hues Modern Living Room</h3>

                                </div>

                                <div class="navigation">
                                    <h3>Select what you want to see:</h3>
                                    <ul>
                                        <li class="selected">
                                            <a href="/LivingRoom/Furniture">1) Furniture Of Living Area</a>
                                        </li>


                                        <li class="selected">
                                            <a href="/LivingRoom/Interior">2) Interior of Living Area</a>
                                        </li>
                                    </ul>
                                </div>

                                

                            </div>


                    </div>

                </div>
        </div>
    </div>
</body>