@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <title></title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"> </script>
    <link rel="stylesheet" href="css/style.css" type="text/css">


</head>

<body>
    <div id="background-green">
        background
    </div>
    <div class="page">
        <div class="home-page">
            <center>
         <div class="container">

         <form id="signup" action="login"method="post" role="form"> 
           <div class="header">
             <h3>Sign In</h3>                 

                    </div>

                    <div class="sep"></div>

                    <div class="inputs">
                        <input type="name" class=" name form-control" id="Name" name="Name" placeholder="Name" value="" required />                       

                        <input type="password" name="Password" placeholder="Password" value="" required />                       

                        <button id="submit">SIGN In</button>
                    </div>

                </form>

            </div>
                </center>
        </div>
    </div>
</body>




