@{
    ViewBag.Title = "About";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
   


    
}
<head>
    <meta charset="UTF-8">
    <title>About - Origin Architects Website </title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"> </script>
</head>
<body>
    <div id="background-yellow">
        background
    </div>
    <div class="page">
        <div class="about-page">
           
            <div class="body">
                <div class="content-about">
                    <div>
                        <h3>About</h3>
                    </div>
                    <div class="featured">
                        <img src="~/content/themes/base/images/dining-room.jpg" alt="">
                    </div>
                    <div>
                        <div>
                            <h1>Interior Designing mean for Everyone</h1>
                            <p>Interior Design is a career that every one took interested for years. Designers  rearranged furniture and pictures in an effort to be creative and make your home look more beautiful. I seem to have always possessed a creative talent for design. Interior design in America with its rich European history and variety of modern trends provides both advantages and limitations as my chosen career. Eighteenth Century France was characterized by a classic approach to architecture. The structure of the buildings were palaces.
                                </p>
                            <h1>History about Designing </h1>
                            <p>
                                The usage of statues was extremely popular also during this period in France. Paris, the city of lights, was known for its use of both white cement structures such as columns and interior wall sculptures. Robert de Cotte, Jacpues Jules Gabriel, and Ange - Jaques Gabriel were famous designers of the time (Ball 39). These men mark the progression in the “batiments” through the reign of Louis XV; the younger Gabriel bridges to Louis the XVI (39). From the latter part of the Sun King’s reign, there was little building in the royal domain: new work was confined to interiors. This allowed the prominent architects time and freedom to work with other customers.
                            </p>
                            <h1>Be Part of Our Community</h1>
                            <p>
                                If you're experiencing issues and concerns about any thing, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
                            </p>
                            <h1>Designs details</h1>
                            <p>
                                Design version 7 <br> Code version 2<br><a>Origin Architects Website Template</a>
                            </p>
                        </div>
                        <div class="sidebar">
                            <div>
                                <h3>Submenu Widget</h3>
                                <a href="#">This is Just A Place Holder</a> <a href="#">This is Just A Place Holder</a>
                            </div>
                            <div>
                                <h3>Recent Projects</h3>
                                <ul>
                                    <li>
                                        <a href="projects"><img src="~/content/themes/base/images/recent-project-thumb1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="projects"><img src="~/content/themes/base/images/recent-project-thumb2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="projects"><img src="~/content/themes/base/images/recent-project-thumb3.jpg" alt=""></a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="projects"><img src="~/Content/themes/base/images/recent-project-thumb4.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="projects"><img src="~/Content/themes/base/images/recent-project-thumb5.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="projects"><img src="~/Content/themes/base/images/recent-project-thumb6.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="section">
                                <h3>From Our Blog</h3>
                                <ul>
                                    <li>
                                        <a href="blog-single-with-image"><img src="~/Content/themes/base/images/blog-thumb1.jpg" alt=""></a> <a href="blog-single-with-image">Blogpost With Image</a> <span>June 3, 2023 - <a href="blog-single-with-image.html">3 Comments</a></span>
                                    </li>
                                    <li>
                                        <a href="blog."><img src="~/Content/themes/base/images/blog-thumb2.jpg" alt=""></a> <a href="blog">Blogpost With Video</a> <span>June 3, 2023 - <a href="blog">3 Comments</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>