@{
    ViewBag.Title = "Index";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
   


}

<head>

    <title></title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"> </script>
    <link href="~/Content/style.css" rel="stylesheet" />


</head>

<body>

    <div id="background-green">
        background
    </div>
    <div class="page">
        <div class="home-page">
           
           
            <div class="body">
                <div class="content-home">
                    <div>
                        <h3>We are interior architects. What is <span class="beauty">beauty</span> without use. What is <span class="function">function</span> without aesthetics. our <span class="works">works have both</span>.</h3>

                        <p>

                            Those with a passion for interior design who are drawn to interior style magazines. Afterwards, you may wish to progress onto the Interior Decoration Modules or the Interior Design Modules.Discover your potential via this introduction to creating a design for a domestic space. On this relaxed, friendly course, you'll develop your design awareness and learn the basics of planning a design scheme. 

                        </p>

                    </div>
                    <div class="featured">
                        <img src="~/content/themes/base/images/bed.jpg" alt="">
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a href="/Home/Projects"><img src="~/content/themes/base/images/bg-projects.jpg" alt=""></a>
                                <h4><a href="/Home/Projects">Projects</a></h4>
                                <h3><a href="/Home/Projects">Soul Lounge Music Studio</a></h3>
                                <p>
                                   The ability to create a design scheme for a domestic space that works visually and practically. In addition, you'll have developed an understanding of the process of interior decoration and design, with a basic knowledge of history, colour, materials and finishes
                                </p>
                                <a href="/Home/Projects">View More Projects</a>
                            </li>
                            <li>
                                <a href="blog"><img src="~/content/themes/base/images/bg-blog.jpg" alt=""></a>
                                <h4><a href="blog">Blog</a></h4>
                                <h3><a href="blog">Best Paint To Use In The Kitchen</a></h3>
                                <p>
                                    ideas you may never have thought of otherwise. From small living rooms to small bedrooms, bathrooms, kitchens and kids' rooms, get inspired by these top tips and design ideas for tiny, small spaces.
                                </p>
                                <a href="blog">View More Blog Posts</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>


</body>

